.menu {
    background-color:#0c101b;
    color: #9CA8B0;
    display: inline-block;
    width: 4%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
}

.selected-item {
    color: #ff1744;
}


